
:root{
  --main-color: crimson;
  --alt-color: ghostwhite;
  --link-color: dodgerblue;
  --light-color: white;
  --dark-color: gray;
  
  
}

html {
  height: 100%;
  margin: 0;
  box-sizing: border-box;
  overflow: hidden;
  font-size: 3vh;
}

body {
  height: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
  background-color: var(--light-color);
}

header {
  font-family: 'Fivo Sans Modern';
  background-color: var(--main-color);
  color: var(--light-color);
  text-align: center;
}

#translate{
  padding: 0 0.5em 0.25em;
  font-size: 1.25rem;
  color: var(--main-color);
  background-color: var(--alt-color);
  border-bottom: 1px solid var(--dark-color);
  font-family: 'IBM Plex Mono', monospace;
  font-weight: 500;
  
  }

#trans{
  font-size: 0.75rem;
  font-style: italic;
  color: var(--dark-color);
  background-color: var(--alt-color);
  margin-top: 0.5rem;
  font-family: 'Fivo Sans Modern';
}

main {
  padding: 0 0.5rem;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  }

main #log {
  flex: 1 1 15ch;
  overflow-y: scroll;
  scroll-behavior: smooth;
}

main #controller {
  flex: 1;
  display: flex;
  flex-direction: column-reverse;
}

footer {
  font-family: 'IBM Plex Mono', monospace;
  background-color: var(--alt-color);
  color: var(--dark-color);
  text-align: center;
}

#controller #text{
  font-family: 'IBM Plex Mono', monospace;
  padding: 0.25rem;
  flex: 1;
  resize: none;
  font-size: 1rem;
  word-break: break-word;
  background-color: var(--alt-color);
  color: var(--main-color);
}

#controller button {
  transform: rotate(-3deg);
  font-family: 'Fivo Sans Modern';
  background-color: var(--main-color);
  border: none;
  box-shadow: rgba(0,0,0,0.3) 4px 4px 10px;
  color: var(--light-color);
  font-size: 1rem;
  text-align: right;
  padding: 0.25rem;
  margin: 0.25rem;
  align-self: flex-end;
}

#log .author {
  color: var(--main-color);
  background-color:  var(--alt-color);
  font-size: 1rem;
  word-break: break-all;
  font-family: 'IBM Plex Mono', monospace;
  
}

#log .message {
  word-break: break-word;
  font-size: 1.5rem;
  padding-left: 1rem;
  margin: 0.2rem 0;
  font-family: 'Fivo Sans Modern';
}

a:link {
  color:var(--main-color);
  text-decoration: none;
}

a:visited {
  color:var(--main-color);
  text-decoration: none;
}

a:hover {
  color: var(--link-color);
  text-decoration: none;
}

a:active {
  color: var(--link-color);
  text-decoration: none;
} 